

main.container {
  max-width: 85%;
  margin: 50px auto;
  background: #f8f8f8;
  padding: 50px 60px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.step {
  flex: 1;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  color: #777;
  border-right: 1px solid #ddd;
}

.step:last-child {
  border-right: none;
}

.step.active {
  color: #178768;
  font-weight: bold;
}

.tab-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tab-btn {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn.active {
  background-color: #178768;
  color: white;
}

.form-section {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.form-section.active {
  display: flex;
}

.form-section > form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-section > form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-section > form button[type="submit"] {
  padding: 10px;
  background-color: #178768;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.form-section > form button[type="submit"]:hover {
  background-color: #126953;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}
